.todo-column {
    min-height: 70vh; /* Adjusts with screen height */
    margin-top: 2%;
    margin-bottom: 1%;
    background: #f4f6fa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(60, 60, 60, 0.08);
    padding: 24px 18px;
}

.pending-tasks-title
{
    font-weight: 600;
    font-size: 1.1rem;
    color: #253858;
    margin-bottom: 18px;
}

.completed-tasks-title
{
    font-weight: 600;
    font-size: 1.1rem;
    color: #28a745;
    margin-bottom: 18px;
}

#completed-tasks {
    min-height: 200px;
}
